@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy</p>

@{
    var currentYear = DateTime.Now.Year;
    var currentDay = DateTime.Now.Day;
}

<p>@currentYear</p>
<p>@currentDay</p>