@using CarWorkshop.Application.CarWorkshop
@using CarWorkshop.Application.CarWorkshop.Commands.CreateCarWorkshop

@model CreateCarWorkshopCommand

<h1>Create Car Workshop </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/CarWorkshop/Create" method="post">
           
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" asp-for="Name" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label">Description</label>
                <input type="text" class="form-control" asp-for="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PhoneNumber" class="control-label">PhoneNumber</label>
                <input type="text" class="form-control" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Street" class="control-label">Street</label>
                <input type="text" class="form-control" asp-for="Street" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="City" class="control-label">City</label>
                <input type="text" class="form-control" asp-for="City" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="PostalCode" class="control-label">PostalCode</label>
                <input type="text" class="form-control" asp-for="PostalCode" />
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
         </form> 
         </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}